<!-- templates/cadastrar.html -->

{% extends "_base.html" %}


{% block content %}

  

<div class="p-6">
<div class="relative overflow-x-auto  sm:rounded-lg">
  


  


    <form method="post">
        {% csrf_token %}
        <div class="mb-6">
            <label for="id_question" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-900">Pergunta:</label>
            <input type="text" id="id_question" name="question" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
        </div>
        <div class="mb-6">
            <label for="id_answer" class="block mb-2 text-sm font-medium text-green-900 dark:text-green-900">Resposta:</label>
            <input type="text" id="id_answer" name="answer" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
        </div>
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Cadastrar</button>
    </form>
    
    
    




 
</div>
</div>






  
{% endblock content %}